*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}
.AllGui{
    width: 65%;
    background-color:white;
    margin: auto;
    display: flex;
    width: 1280px;
    height: 1100px;
    

}
.LeftBlock{
    width: 345px;
    background-color: #3c5464;
    height: 1100px;
    border-color: #707070;
    border: 20px;
}
.Logo{
    width: 345px; height:95px; background: white;
    
    border-radius: 0px 0px 20px 0px;
}
.Search{
    position: relative;
    margin-top: 10px;
}
.Search input{
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    



}

.Search .icon{
    position: absolute;
    top: 8px;
    right: 10px;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;  
    
    cursor: pointer;  
    
}

.icon:hover{
    color: #F36F21;
}
.Sidebar{
    background-color: #3c5464;
    width: 345px;
    left: 0;
    margin-top: 470px;
    
    
}

.icon2{
    top: 7px;                                                                      
    position: relative;
    
}

nav ul{
    background-color: #3c5464;
    height: 100%;
    width: 100%;
    list-style: none;

}

nav ul li{
    line-height: 50px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 22px;
    font-weight: 400;
    display: block;
    width: 100%;
    position: relative;
    
    
}

nav ul li a:hover{
    background-color: #f36f21;

}

nav ul li a img{
    color: orange;
}
nav ul ul{
    position: static;
    display: none;
}

nav ul .card-show.show{
    display: block;
}

nav ul .cardmanamegent-show.show{
    display: block;
}
nav ul ul li{
    line-height: 40px;
    border-bottom: none;
    
}

nav ul ul li a{
    font-size: 18px;
    
    
    

}
nav ul .cardmanamegent-show.show{
    display: block;
}
.ChevronDown{
     position: absolute;
     top: 60%;
     right: 20px;
     transform: translateY(-50%);
     font-size: 20px;
     
 }
 nav ul li a span{
     margin-left: 20px;
 }

 
 nav ul li a:hover span{
    transform: translateY(-80%) rotate(-180deg);
 }

.RighBlock{
    width: 935px;
}

.UpperPart{
    border: 1px #cacaca solid;
    border-radius: 10px;
    width: 910px;
    height: 80px;
    margin-left: 12px;
    margin-top: 12px;;
    position: relative;
    color: #062C44;
}

.Text1{
    color:#F36F21;
font-size: 24px;
margin-left: 17px;
font-weight: 400;
margin-top: 10px;
}

.Text2{
    color:black;
    font-size: 16px;
    margin-left: 17px;
    font-weight: 300;
}

.BtnOut{
    border: none;
    background-color: #F36F21;
    width: 95px;
    height: 35px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: 24px;
    color: white;
}

.Bottom{
    border: 1px #cacaca solid;
    margin-top: 8px;
    margin-left: 12px;
    height: 1020px;
    width: 910px;
    position: relative;
    color: #062C44;
}
.Bottom h3{
    color: #F36F21;
    margin-left: 17px;

margin-top: 10px;
}
.Bottom p{
    margin-left: 17px;
}

.Bottom1{
    
    position: relative;
    
}
.Label{
    color: #F36F21;
    margin-top: 5px;
}
.minuscule{
    margin-top: 10px;
}

.FunctionPart{
    margin-left:17px ;
    
    
    position: relative;
    
    height: 385px;
}

.LineInput{
    display: flex;
    margin-top: 20px;
    height: 78px;
}

.Input{
    width: 420px;
}
.Input2{
    width: 420px;
    margin-left: 55px;
}

.LineInput select{
    width: 396px;
    height: 45px;
    border-radius:5px ;
    padding: 8px;
    margin-top: 10px;
    font-size: 18px;
    border: 1px #cacaca solid;
    outline-color:#f68e52 ;
}

.LineInput select option{
    font-size: 18px;
}
.LineInput input{
    width: 396px;
    height: 45px;
    border-radius:5px ;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    border: 1px #cacaca solid;
    outline-width: thin;
    outline-width: 0;
}
.BtnSearch{
    width: 95px;
    height: 35px;
    background-color:#008000;
    border: none;
    
    border-radius: 20px;
    position: absolute;
    top: 310px;
    right: 25px;
    font-size: 18px;
    cursor: pointer;



}

.BtnSearch a{
    text-decoration: none;
    color: white;
}

.BtnClear{
    width: 95px;
    height: 35px;
    color: #F36F21;
    border-color:#F36F21 ;
    background:white;
    
    
    border-radius: 20px;
    position: absolute;
    top: 310px;
    right: 144px;
    font-size: 18px;
    cursor: pointer;



}

.BtnClear a{
    text-decoration: none;
    color: #F36F21;
}

hr.LineOne{
    margin: auto;
    width: 870px;
}

.Textt{
    margin-top: 30px;
}


td{
    height: 43px;
    border-right: 1px solid rgba(0,0,0,.02);
}
 

.TableScroll {
    border-collapse:collapse ;
    
    display: block;
    height: 380px;
    width: 870px;
    margin: auto;
    font-size: 12px;
    
    margin-top: 30px;
    position: relative;
    
    
    
    
    
    
}
th{
    width: 280px;
}
table,td,th{
    border: 1px  solid #E4E7EA;
}
.TableScroll thead{
    display: block;
    width: 100%;
    
}


.TableScroll tbody{
    
    position: relative;
    
    overflow-y: scroll;
    display: block;
    height: 350px;
    
    
}









.TableScroll tbody tr:nth-child(2n){background-color: #f7f7f7;}




.TableScroll tr td a{
    text-decoration: none;
    color: black;
}
td{
    text-align: center;
}
th{
    background: white;
    font-weight: 400;
}
.NextAndPrevious{
    margin: auto;
    width: 870px;
    display: flex;
    font-size: 12px;
    
}
.BtnPrevious{
    background-color: #F4F4F4;
    color: black;
    width: 240px;
    height: 42px;
    border: 1px #cacaca solid;
    cursor: pointer;
    
    
}

.BtnPrevious:hover{
    background: #8f8f8F;
    color: white;
    
}
.BtnPrevious a{
    text-decoration: none;   
}




 .Spinner{
    margin-left: 40px;
    height: 42px;
    margin-top: 10px;
    
 }
.Spinner input{
width: 45px;
text-align: center;
margin-left:5px ;
border: 1px #cacaca solid;
border-radius: 5px;
outline-width: 0;



}

.Row{
    margin-left: 90px;
    margin-top: 10px;
    
}

.Row select{
    width: 90px;
    
    border: 1px #cacaca solid;
    border-radius: 5px;
    background-color: #fff;
    
    outline-width: 0;
    
    font-size: 12px;
    width: 95px;
    height: 25px;
}




.BtnNext{
    background-color: #F4F4F4;
    color: black;
    width: 240px;
    height: 42px;
    border: 1px #cacaca solid;
    margin-left: 65px;
    cursor: pointer;
    
}
.BtnNext a{
    text-decoration: none;   
}
.BtnNext:hover{
    background: #8f8f8F;
}


.Footer{
    background-color: #F36F21;
    
    margin: auto;
    width: 1280px;
    height: 35px;
}

.Footer h4{
    color: white;
    margin: auto;
    width: 650px;
    font-weight: 400;
    padding: 5px;
}




  